<h3 class="ui horizontal divider header">
  <i class="table icon"></i>
  Cap Table
</h3>
<div class="ui raised segment">
  <table class="ui very basic table">
    <thead>
      <tr>
        <th>Shareholders</th>
        <th>Shares</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a class="ui red empty circular label"></a> Founders</td>
        <td>{{format-number company.founderShares}}</td>
        <td> - </td>
      </tr>
      <tr>
        <td><a class="ui blue empty circular label"></a> Employee Option Pool</td>
        <td>{{format-number company.optionShares}}</td>
        <td> - </td>
      </tr>
    </tbody>
    <tfoot>
    <tr>
      <th><em>Totals</em></th>
      <th><em>{{format-number company.totalShares}}</em></th>
      <th> - </th>
    </tr></tfoot>
  </table>
  {{!-- {{ember-chart type='pie' data=chartData width=150 height=150 options=chartOptions}} --}}
</div>
