<h3 class="ui horizontal divider header">
  <i class="handshake icon"></i>
  Raise Money
</h3>

<div class="ui basic fluid small buttons">
  <button class="ui button" {{action 'issueSafes'}}>Issue Safes</button>
  <button class="ui button">Issue Convertiable Notes</button>
  <button class="ui button">Issue Equity</button>
</div> &nbsp;
<div class="ui basic fluid small buttons">
  <button class="ui button">Take on Debt</button>
  <button class="ui button">Revenue Split</button>
</div>
